.layout {
  max-width: 1000px;
}

.videoResponsive {
  max-width: 1000px;
  height: calc((1000px / 16) * 9);
  margin-bottom: 50px;
}

.backLink {
  display: none;
}
@media (max-width: 810px) {
  .backLink {
    display: block;
    text-align: left;
    margin: -41px 0 18px;
  }
}
