.layout {
  max-width: 1000px;
}
.backLink {
  display: none;
  display: flex;
}

.title {
  margin-bottom: 20px;
}
@media (max-width: 810px) {
  .backLink {
    display: block;
    text-align: left;
    margin: -19px 0 0px 20px;
    color: #727272;
  }
}
