.layout {
  max-width: 1000px;
  padding: 0;
}
.image {
  padding: 30px 0;
  margin: 0 auto;
  max-width: 1000px;
}
.videoResponsive {
  max-width: 1000px;
  height: calc((1000px / 16) * 9);
  margin-bottom: 50px;
}

.backLink {
  text-align: left;
  margin: -50px 0 18px;
}
