@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap");

* {
  font-family: "Zen Maru Gothic", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  margin: 30px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 30px);

  padding-bottom: 140px;
  text-align: center;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

a:hover {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
.hover {
  color: red;
}
nav a {
  color: #727272;
  margin: 24px;
  font-size: 16px;
}
.navbar-line {
  width: 568px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 17px;
  margin: 20px 0 60px;
  border: #727272 solid 1px;
}
footer {
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  color: #727272;
}
/* navBar icon */
.navbar-icon {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 3px;
  background-color: #727272;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.social {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.social span {
  color: black;
  margin: 0 4px;
  cursor: pointer;
  font-size: 20px;
}

.email {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  color: black;
}
.email-popup {
  transition: 0.5s;
  height: auto;
  position: absolute;
  font-size: 8px;
  font-weight: 400;
  width: 63px;
  left: 58px;
  top: 48.5px;
  background-color: blue;
  color: transparent;
  border-radius: 5px;
  z-index: 1;
}

.email-popup::after {
  position: absolute;
  content: "";
  z-index: 2;
  top: 4px;
  left: 28px;
  color: transparent;
  width: 0;
  height: auto;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid blue;
}
.copied {
  transition: 0.5s;
  height: auto;
  position: absolute;
  font-size: 8px;
  font-weight: 400;
  width: 63px;
  left: 58px;
  top: 42.5px;
  padding: 0 0 2px 0;
  background-color: blue;
  color: #ffffff;
  border-radius: 5px;
  z-index: 1;
}

.copied::after {
  position: absolute;
  content: "";
  z-index: 2;
  top: 13px;
  left: 28px;
  color: transparent;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid blue;
}

@media (max-width: 810px) {
  .layout {
    margin: 20px 20px 0;
  }
  header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  }
  .navbar-icon {
    display: inline-block;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 0;
  }

  nav {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 0px;
    transition: 0.5s;
    z-index: 1;
    background-color: white;
    overflow: hidden;
  }
  nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 50px;
  }
  .change nav {
    height: 100vh;
  }
  a:hover {
    background-color: #c4c3c3;
  }

  .navbar-line {
    width: 100vw;
  }
  .change .layout {
    margin-top: 20px;
  }
}
