.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 40px;
}

.aboutText {
  min-width: 500px;
}
.photoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  width: 360px;
  gap: 20px;
}
.photo {
  border-radius: 25px;
}
