.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
}

.aboutText {
  max-width: 600px;
  min-width: 350px;
  text-align: start;
}
.photoContainer {
  min-height: calc(100vh - 415px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  gap: 100px;
}

.photoContainerLeft {
  margin-left: auto;
}
.photo {
  border-radius: 25px;
}
