.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  gap: 0px;
}

.photoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100px;
}
.photo {
  border-radius: 25px;
}
.aboutText {
  text-align: start;
  max-width: 500px;
}
