.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 40px;
}

.aboutText {
  min-width: 550px;
}
.photoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 250px;
  gap: 100px;
}

.photoContainerLeft {
  margin-left: auto;
}
.photo {
  border-radius: 25px;
}
