.layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1250px;
}

.layout div {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lab {
  grid-column: -4/-2;
}

.text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  z-index: 1;

  height: 100vh;
  width: 100vw;
  position: absolute;

  background-color: rgba(0, 0, 0, 50%);
}
