.layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1250px;
}

.layout div {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal {
  padding: 20px;
  position: absolute;
  z-index: 1;
  top: calc(-207px + 16vh);
  background-color: white;
  width: 1200px;
  max-height: calc(84vh - 207px);
  overflow: scroll;
  left: 25px;
}

.modalImage {
  width: 820px;
}
.text {
  text-align: left;
  position: absolute;
  width: 300px;
  left: 880px;
}
.description {
  position: relative;
  padding: 0;
  font-weight: 400;
  color: black;
}

.title {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 -10px;
  padding: 0;
}

.exitButton {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
}
@media (max-width: 1000px) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
