.layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1250px;
}

.layout div {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lab {
  grid-column: -4/-2;
}

.modal {
  position: absolute;
  z-index: 1;
  background-color: green;
  top: -50px;
  left: 0;
  width: 100vh;
  height: 100vh;
}
