.layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1250px;
}

.layout div {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lab {
  grid-column: -4/-2;
}

.model {
  position: absolute;
  top: calc(10vh -208px);
  left: calc(((1250px - 1000px) / 2));
  z-index: 1;
  height: calc(90vh - 208px)
  background-color: white;
  width: 1000px;
}
